# Ambiente Virtual
venv/

# Arquivos de configuração específicos do ambiente
.env
.env.local
.flaskenv

# Diretórios de cache
__pycache__/
*.pyc
*.pyo

# Arquivos de log
*.log

# Arquivos de banco de dados
*.sqlite3

# Arquivos de migrações (se você estiver usando Flask-Migrate)
migrations/

# Arquivos de IDE
.vscode/
.idea/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
ecommerce/Lib/site-packages/pycparser-2.22.dist-info/RECORD

# Ignorar tudo
*

# Exceto o arquivo app.py
!app.py
!test_app.py

# Exceto o diretório templates
!templates/
!templates/**

# Exceto o diretório static
!static/
!static/**

