<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Online</title>
</head>
<body>
    
    <div style="margin-bottom: 20px;">
        {% if 'usuario_id' in session %}
        <p>Olá, {{ session['username'] }}!</p>
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Sair</button>
        </form>
    {% else %}
        <p>Bem-vindo! <a href="{{ url_for('login') }}">Login</a> ou <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>
    {% endif %}
    </div>

    <!-- Formulário de Busca -->
    <form action="{{ url_for('buscar_produtos') }}" method="GET">
        <label for="query">Buscar Produtos:</label>
        <input type="text" id="query" name="query" placeholder="Digite o nome do produto">
        <button type="submit">Buscar</button>
    </form>
    
    
    <h1>Produtos Disponíveis</h1>
    <ul>
        {% for produto in produtos %}
            <li>
                {{ produto.nome }} - R$ {{ "%.2f"|format(produto.preco) }}

                <img src="{{ produto.imagem_url }}" alt="{{ produto.nome }}" style="width: 100px;">
                <!-- Formulário para adicionar produto com quantidade ao carrinho -->
                <form action="{{ url_for('adicionar_ao_carrinho') }}" method="POST" style="display:inline;">
                    <input type="hidden" name="produto_id" value="{{ produto.id }}">
                    <label for="quantidade_{{ produto.id }}">Quantidade:</label>
                    <input style="width: 30px;" type="number" id="quantidade_{{ produto.id }}" name="quantidade" value="1" min="1" required>
                    <button type="submit">Adicionar ao carrinho</button>
                </form>
                
                
                <!-- Verifica se o usuário tem permissão de administrador -->
                {% if session.get('usuario_id') and session['usuario_id'].endswith('.adm@gmail.com') %}
                    <!-- Botão para editar produto -->
                    <form action="{{ url_for('editar_produto', produto_id=produto.id) }}" method="GET" style="display:inline;">
                        <button type="submit">Editar</button>
                    </form>
    
                    <!-- Botão para deletar produto -->
                    <form action="{{ url_for('deletar_produto', produto_id=produto.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja deletar este produto?');">
                        <button type="submit">Deletar</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}

    </div>
  {% if session.get('usuario_id') and session['usuario_id'].endswith('.adm@gmail.com') %}
    <div>
        <a href="/adicionar">
            <button>
                adicionar mais produtos
            </button>
        </a>
    </div>
{% endif %}
  
  
    <div>
        <a href="/carrinho">
            <button>
                Visualizar carrinho
            </button>
        </a>
    </div>
</body>
</html>
